// NPM RUN BUILD-CSS

// NPM RUN WATCH-CSS

@import "variables";

body {
  margin           : 0;
  background-color : $ultra-chic-periwinkle;
}

.cool-dude {
  color : red;
}

body,
html {
  height : 100%;
}

.nav {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

.jet-fuel {
  margin-bottom : 30px;
  color         : #84D2F6;
  text-align    : center;
  font-family   : 'Open sans';
  font-size     : 5em;
  font-weight   : 500;
}

.fuel-span {
  color : #004264;
}

input {
  @include inputs;
}

.create-folder-btn:disabled,
.create-url-btn:disabled {
  @include disabled-button;
}

.active {
  color            : black;
  background-color : white;
}

button {
  @include button-styling;
}

button:hover {
  color      : #22313F;
  border     : 1px solid #22313F;
  background : white;
}

.sort-btns {
  display: flex;
  flex-direction: row;
}

.content-container {
  display : flex;
}

.folders {
  display          : flex;
  margin           : 10px;
  padding          : 5px;
  color            : #84D2F6;
  flex             : 1;
  flex-direction   : column;
}

.folders-header {
  width         : 100%;
  border-bottom : 1px solid #004264;
  background-color: white;
  text-align    : center;
  align-self    : center;
  font-size     : 2em;
}

.folders-name {
  margin : 10px;
  color  : #22313F;
}

.link-display {
  margin : 5px;
  margin : 15px 0px 10px 0px;
  color  : #004264;
}

.url-container {
  display         : flex;
  margin          : 10px;
  padding         : 10px;
  border          : 1px solid $lochmara;
  text-align      : center;
  flex-direction  : column;
  justify-content : center;
}

.urls {
  margin           : 10px;
  font-family      : 'Open sans';
  padding          : 5px 0px 5px 10px;
  border           : 1px solid #c2c2c2;
  background-color : #f2f2f2;
  flex             : 1;
}

.url-detail {
  font-weight: 700;
  padding: 5px;
}

.each-url {
  padding: 5px;
}

/* Media Queries */

@media (max-width: 500px) {
  form {
    display        : flex;
    margin-top     : 15px;
    flex-direction : column;
  }

  .content-container {
    align-items    : center;
    flex-direction : column;
  }

  .create-folder,
  .create-url,
  .folders,
  .urls {
    width : 280px;
  }
}
