body {
  margin: 0;
  background-color: #ccccff; }

.cool-dude {
  color: red; }

body,
html {
  height: 100%; }

.nav {
  display: flex;
  align-items: center;
  flex-direction: column; }

.jet-fuel {
  margin-bottom: 30px;
  color: #84D2F6;
  text-align: center;
  font-family: 'Open sans';
  font-size: 5em;
  font-weight: 500; }

.fuel-span {
  color: #004264; }

input {
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #c2c2c2;
  background: #f2f2f2;
  outline: 0;
  font-size: 14px; }

.create-folder-btn:disabled,
.create-url-btn:disabled {
  color: #004264;
  border: none;
  background-color: white;
  cursor: not-allowed; }

.active {
  color: black;
  background-color: white; }

button {
  margin-top: 4px;
  padding: 10px;
  color: white;
  border: 1px solid white;
  background: #22313F;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer; }

button:hover {
  color: #22313F;
  border: 1px solid #22313F;
  background: white; }

.sort-btns {
  display: flex;
  flex-direction: row; }

.content-container {
  display: flex; }

.folders {
  display: flex;
  margin: 10px;
  padding: 5px;
  color: #84D2F6;
  flex: 1;
  flex-direction: column; }

.folders-header {
  width: 100%;
  border-bottom: 1px solid #004264;
  background-color: white;
  text-align: center;
  align-self: center;
  font-size: 2em; }

.folders-name {
  margin: 10px;
  color: #22313F; }

.link-display {
  margin: 5px;
  margin: 15px 0px 10px 0px;
  color: #004264; }

.url-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #386FA4;
  text-align: center;
  flex-direction: column;
  justify-content: center; }

.urls {
  margin: 10px;
  font-family: 'Open sans';
  padding: 5px 0px 5px 10px;
  border: 1px solid #c2c2c2;
  background-color: #f2f2f2;
  flex: 1; }

.url-detail {
  font-weight: 700;
  padding: 5px; }

.each-url {
  padding: 5px; }

/* Media Queries */
@media (max-width: 500px) {
  form {
    display: flex;
    margin-top: 15px;
    flex-direction: column; }
  .content-container {
    align-items: center;
    flex-direction: column; }
  .create-folder,
  .create-url,
  .folders,
  .urls {
    width: 280px; } }
