/*SCHEMIN!
#004264
#386FA4
#59A5D8
#84D2F6
#91E5F6
*/

body,
html {
  height : 100%;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jet-fuel {
  margin-bottom : 30px;
  color         : #84D2F6;
  text-align    : center;
  font-family   : 'Open sans';
  font-size     : 5em;
  font-weight   : 500;
}

.fuel-span {
  color : #004264;
}

/*.create-folder {
  display         : flex;
  justify-content : center;
}*/

/*.create-url {
  display         : flex;
  justify-content : center;
}*/

input {
  box-sizing : border-box;
  margin     : 0 0 10px;
  padding    : 10px;
  border     : 1px solid #c2c2c2;
  background : #f2f2f2;
  outline    : 0;
  font-size  : 14px;
}

button {
  margin-top     : 4px;
  padding        : 10px;
  color          : white;
  border         : 1px solid white;
  background     : #22313F;
  text-transform : uppercase;
  font-size      : 14px;
  cursor         : pointer;
}

button:active,
button:focus,
button:hover {
  color      : #22313F;
  border     : 1px solid #22313F;
  background : white;
}

.content-container {
  display:flex
}

.folders {
  flex:1;
  margin: 10px;
  padding:5px;
  border: 1px solid #c2c2c2;
  background-color: #f2f2f2;
  color: #84D2F6;
}

.folders-header {
  font-size: 2em;
  margin: 10px;
  border-bottom: 1px solid #004264;
  width: 40%;
}

.folders-name {
  margin: 10px;
  color: #22313F;
}
.link-display {
  color: #004264;
  margin: 5px;
  margin: 15px 0px 10px 0px
}

.urls {
  flex: 1;
  margin: 10px;
  padding: 5px 0px 5px 10px;
  border: 1px solid #c2c2c2;
  background-color: #f2f2f2;
}

.fav-folders {
  border : 1px solid black;
}

/*Media Queries*/
@media (max-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .create-url,
  .create-folder,
  .folders,
  .urls {
    width: 280px;
  }
}
