/*SCHEMIN!
#004264
#386FA4
#59A5D8
#84D2F6
#91E5F6
*/



body,
html {
  height : 100%;
}

.jet-fuel {
  margin-bottom : 30px;
  color         : #84D2F6;
  text-align    : center;
  font-family   : 'Open sans';
  font-size     : 5em;
  font-weight   : 500;
}

.fuel-span {
  color : #004264;
}

.create-folder {
  display         : flex;
  justify-content : center;
}

.create-url {
  display         : flex;
  justify-content : center;
}

input {
  box-sizing : border-box;
  margin     : 0 0 15px;
  padding    : 15px;
  border     : 0;
  background : #f2f2f2;
  outline    : 0;
  font-size  : 14px;
}

button {
  margin-top     : 4px;
  padding        : 15px;
  color          : white;
  border         : 0;
  border         : 1px solid white;
  background     : #22313F;
  text-transform : uppercase;
  font-size      : 14px;
  cursor         : pointer;
}

button:active,
button:focus,
button:hover {
  color      : #22313F;
  border     : 1px solid #22313F;
  background : white;
}


.folders {
  width: 50%;
}


.fav-folders {
  border : 1px solid black;
}

